<template>
    <div>
        <v-row>
            <DataReaderWebSocket :room="room" :is-active="previewStart" @reciveSocket="reciveSocket" />
            <v-col md="9" sm="12" xs="12"
                ><DataReaderInputAnalogInput
                    ref="AnalogInput"
                    :is-preview="true"
                    :selected-sensor="selectedSensor"
                    @formValidate="formValidation"
                    @changeSettings="changeSettings"
                    @startPreview="() => (previewStart = !previewStart)" />
            </v-col>
            <v-col md="3" sm="12" xs="12">
                <v-text-field v-model="measureValue" label="Measurement value" type="number" value="0" readonly></v-text-field>
                <ChartLineChart ref="chart" chart-class="col-12"
            /></v-col>
        </v-row>
        <v-row class="mb-10">
            <v-col>
                <v-btn color="green darken-4" class="text--center" block dark :disabled="formValidete" @click="createSensor"> create sensor</v-btn>
            </v-col>
        </v-row>
        <v-row>
            <DataTableSensorDataTable @selectedSensor="changeSelectedSensor" />
        </v-row>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
// import { ChannelMode } from '~/Types/global.types'
export default {
    data() {
        return {
            formValidete: true,
            selectedSensor: {},
            previewStart: false,
            socket: null,
            settings: {},
            measureValue: null,
        }
    },
    computed: {
        room() {
            const selectedRoom = this.channels.find((i) => i._id === this.settings.channel)
            if (!selectedRoom) {
                return 'empty'
            }
            return selectedRoom.name
        },
    },
    watch: {
        async previewStart(updated, old) {
            console.log('change preview state ', updated)
            const { samplingRate, voltageRange } = this.settings
            await this.sendSettingForPreview({ samplingRate, voltageRange, isActive: updated })
        },
    },
    methods: {
        ...mapActions({
            reloadSensorData: 'sensor/fillSensorData',
            freezeChannel: 'channel/freezeChannel',
            addSensor: 'sensor/add',
            sendSettingForPreview: 'channel/sendSettingForPreview',
        }),

        async changeSettings(value) {
            this.settings = value
            // TODO inPreview isActive parametrer add !
            // const previewChannel = this.channels.find((i) => i.mode === ChannelMode.Preview)
            // const sendItem = {
            //     sensor: this.settings,
            //     channel: previewChannel._id,
            // }
            if (this.previewStart) {
                const { samplingRate, voltageRange } = this.settings
                await this.sendSettingForPreview({ samplingRate, voltageRange, isActive: this.previewStart })
            }
        },
        changeSelectedSensor(sensorId) {
            const sensor = { ...this.sensors.find((i) => i._id === sensorId) }
            delete sensor._id
            this.selectedSensor = sensor
            this.changeSettings(sensor)
        },
        async createSensor() {
            await this.addSensor(this.settings)
        },

        reciveSocket(value) {
            this.$refs.chart.appendData(value.content)

            value.content.forEach((i) => {
                this.measureValue = parseInt(i.yAxis)
            })
        },
        formValidation(formValidate) {
            this.formValidete = !formValidate
        },
    },
}
</script>
