<template>
  <v-container class="d-flex" style="height: 100%">
    <v-row align-content="center" align="center" justify="center">
      <v-card width="75%" class="d-flex-inline justify-center text-center">
        <!-- <v-card-title class="d-flex-inline justify-center text-center"
          >Olçüm istasyonu</v-card-title
        > -->
        <v-row>
          <v-col cols="12" align-self="center">
            <v-card-title class="d-flex-inline justify-center">Frequnecy </v-card-title>
            <v-card-subtitle>
              RPS (Response per Second) <br />
              {{ setting.isActive }}
              RPS = 1000ms/Frequency Saniyede talep edilen veri
            </v-card-subtitle>
            <v-row justify="center">
              <v-col align-self="center" cols="3">
                <v-text-field v-model="setting.channel" label="Channel name" type="text">channel name</v-text-field>
              </v-col>
              <v-col cols="3" align-self="center">
                <v-btn v-if="buttonToggle" dark color="green darken-4" @click="start">
                  <v-icon left> mdi-play</v-icon>
                  Başlat</v-btn
                >
                <v-btn v-else color="red darken-4" dark @click="stop"> <v-icon left>mdi-stop</v-icon> Durdur</v-btn>
              </v-col>
            </v-row>

            <v-row justify="center">
              <v-col cols="6">
                Paket Boyutu {{ packageSize }} <br />

                <v-text-field v-model="signal" label="Signal"></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
// import { io } from 'socket.io-client'
import { EventName } from '@/Types/global.types'
export default {
  name: 'IndexPage',
  data() {
    return {
      setting: {
        channel: 'DATAQueue',
        isActive: false,
      },
      signal: null,
      Socket: {},
      buttonToggle: true,
      packageSize: 0,
      packageSum: 0,
    }
  },

  mounted() {
    this.Socket = this.$nuxtSocket({ name: 'main', reconnection: true })
  },

  methods: {
    sendSetting() {
      this.$axios.$post('sensor/currentSettings', { isActive: this.setting.isActive })
      this.Socket.emit(EventName.setSignal, this.setting)
    },
    changeChannelStatus() {
      this.setting.isActive = !this.setting.isActive
      this.buttonToggle = !this.buttonToggle
    },
    start() {
      this.Socket.connect()
      this.changeChannelStatus()
      this.sendSetting()
      this.Socket.emit('joinroom', this.setting.channel)

      this.Socket.emit('setSignal', this.setting)
      this.Socket.on('getSignal', (data) => {
        this.$emit('signalRecive', data)
      })
    },
    stop() {
      this.changeChannelStatus()
      this.Socket.emit('leaveroom', this.setting.channel)
      this.sendSetting()
      this.Socket.disconnect()
    },
  },
}
</script>
