<template>
    <span></span>
</template>
<script>
export default {
    props: {
        room: { type: String, default: null },

        isActive: { type: Boolean, default: false },
    },

    data() {
        return {
            Socket: {},
        }
    },
    watch: {
        async isActive(after, before) {
            console.log('this.isActive,this.room :>> ', this.isActive, this.room)
            if (this.isActive && this.room) {
                await this.leaveRoom(before)

                await this.joinRoom(after)
                await this.socketListener()
            } else {
                await this.leaveRoom(before)
            }
        },
    },
    mounted() {
        this.Socket = this.$nuxtSocket({ name: 'main', reconnection: true })

        if (this.isActive && this.room) {
            this.joinRoom()
            this.socketListener()
        }
    },

    // destroyed() {
    //   this.leaveRoom(this.room)
    // },
    methods: {
        async joinRoom() {
            await this.connectSocket()
            await this.Socket.emit('joinroom', this.room)
        },
        async leaveRoom(oldroom) {
            await this.Socket.emit('leaveroom', oldroom)
            await this.disconnectSocket()
        },
        async connectSocket() {
            await this.Socket.connect()
        },
        async disconnectSocket() {
            await this.Socket.disconnect()
        },
        async socketListener() {
            await this.connectSocket()
            // console.log('socket Listen?')
            this.Socket.on('getSignal', (data) => {
                // console.log('data :>> ', data)
                this.$emit('reciveSocket', { room: this.room, content: data })
            })
        },
    },
}
</script>
