<template>
    <v-dialog v-model="visible" dark width="auto">
        <v-card>
            <v-card-title class="text-h5"> {{ title }} </v-card-title>

            <v-card-text>
                {{ text }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey" text @click="refuse"> Cancel </v-btn>
                <v-btn :color="okButtonColor" text @click="accept"> {{ okButtonText }} </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import DialogBox from '~/plugins/DialogBox/DialogBox'
export default {
    name: 'DialogBox',
    data() {
        return {
            title: 'Confirm',
            text: 'Are you sure ?',
            okButtonColor: 'green darken-4',
            okButtonText: 'OK',
            visible: false,
            result: null,
            resolve: null,
        }
    },
    beforeMount() {
        DialogBox.event.$on('show', async (options) => {
            const result = await this.open(options)
            DialogBox.event.$emit('result', result)
        })
    },

    methods: {
        open(options) {
            this.visible = true
            this.text = options.text
            this.title = options.title
            return new Promise((resolve) => {
                this.resolve = resolve
            })
        },

        accept() {
            this.visible = false
            this.resolve(true)
        },
        refuse() {
            this.visible = false
            this.resolve(false)
        },
    },
}
</script>
