<template>
    <div>
        <v-snackbar :timeout="timeout" :value="show" right bottom shaped :color="color[type]"> {{ text }} </v-snackbar>
    </div>
</template>

<script>
import Toastr from '~/plugins/Toastr/Toastr'
export default {
    name: 'TheToastr',
    data() {
        return {
            show: false,
            color: {
                success: 'green darken-4',
                error: 'red darken-4',
                info: 'deep-orange darken-2',
            },
            type: 'success',
            text: null,
            timeout: 2000,
        }
    },
    beforeMount() {
        Toastr.event.$on('show', (options) => {
            console.log('options :>> ', options)
            this.open(options)
        })
    },
    methods: {
        open(options) {
            this.show = true
            Object.assign(this.$data, options)
            console.log('this.$data :>> ', this.$data)
            setTimeout(() => {
                this.show = false
            }, this.timeout)
        },
    },
}
</script>
