<template>
    <!-- <div> -->
    <v-form v-model="formValidate">
        <v-row class="mx-1">
            <v-col md="5" sm="12" xs="12">
                <p class="text-h3 pt-2 pl-2">Analog Input</p>
                <hr />
                <v-tabs v-model="analogTab">
                    <v-tab>Input Types </v-tab>
                    <v-tab>Detail</v-tab>

                    <v-tab-item class="mx-2">
                        <!-- input types start -->
                        <v-row>
                            <!-- channel start -->
                            <v-col cols="12">
                                <v-text-field
                                    v-model="settings.sensorName"
                                    label="Sensor Name"
                                    :rules="[Validation.required('name'), Validation.minLength('name', 3)]"
                                    :error-messages="errorMessage"
                                    :success-messages="successMessage"
                                    type="text"></v-text-field> </v-col
                        ></v-row>
                        <v-row class="pt-2">
                            <v-col>
                                <v-select
                                    v-model="settings.inputType"
                                    label="Analog Input"
                                    :items="config.inputTypes"
                                    item-text="text"
                                    item-value="value">
                                </v-select>
                            </v-col>
                            <v-col>
                                <FormChannelSelectbox v-model="settings.channel" :is-preview="isPreview" @selectedChannel="selectedChannel" />
                            </v-col>
                        </v-row>
                        <!-- input types end -->
                        <!-- range and unit start -->

                        <v-row>
                            <v-col>
                                <!-- <v-select
                                    v-model="settings.voltageRange"
                                    :items="config.voltageRanges"
                                    item-text="text"
                                    item-value="value"
                                    label="Voltage Range">
                                </v-select> -->

                                <v-text-field
                                    v-model="settings.voltageRange"
                                    label="Voltage Range"
                                    type="number"
                                    value="1"
                                    min="1"
                                    step="1"
                                    max="15"></v-text-field>
                            </v-col>
                            <v-col>
                                <v-select v-model="settings.rangeUnit" :items="config.rangeUnits" item-text="text" item-value="value" label="Unit">
                                </v-select>
                            </v-col>
                        </v-row>
                        <!-- range and unit end -->
                        <!-- FilterType start -->

                        <v-row>
                            <v-col cols="6">
                                <v-select
                                    v-model="settings.antiAliasingFilter"
                                    :items="config.antiAliasingFilters"
                                    item-text="text"
                                    item-value="value"
                                    label="Anti-Aliasing Filter">
                                </v-select>
                            </v-col>
                            <v-col cols="6">
                                <v-text-field
                                    v-model="settings.samplingRate"
                                    label="Sampling Rate (Hz)"
                                    type="number"
                                    value="1"
                                    min="1"
                                    step="1"
                                    max="15"></v-text-field>
                            </v-col>
                        </v-row>
                        <!-- FilterType end -->
                        <!-- Excitation and Unit start -->
                        <v-row
                            ><v-col>
                                <v-select
                                    v-model="settings.excitation"
                                    :items="config.excitations"
                                    item-text="text"
                                    item-value="value"
                                    label="Excitation">
                                </v-select>
                            </v-col>

                            <v-col>
                                <v-select
                                    v-model="settings.excitationUnit"
                                    disabled
                                    :items="config.excitationUnits"
                                    item-text="text"
                                    item-value="value"
                                    label="Unit">
                                </v-select> </v-col
                        ></v-row>
                        <!-- Excitation and Unit end -->
                    </v-tab-item>

                    <v-tab-item class="pt-2">
                        <!-- General Tab  start -->
                        <v-row>
                            <!-- channel start -->
                            <v-col cols="12"> </v-col>

                            <v-col cols="12">
                                <v-textarea v-model="settings.description" rows="2" class="ml-4" label="Description" type="text"></v-textarea>
                            </v-col>
                            <!-- channel end -->
                            <!-- Sampling Rate (Hz) start -->
                            <!-- <v-col cols="12">
                                <v-text-field
                                    v-model="settings.samplingRate"
                                    class="ml-4"
                                    label="Sampling Rate (Hz)"
                                    type="number"
                                    value="38400"
                                    min="1"
                                    step="1"
                                    max="15"></v-text-field>
                            </v-col> -->
                            <!-- Sampling Rate (Hz) end -->
                            <!-- Decimal Point Start -->
                            <v-col cols="12">
                                <v-text-field
                                    v-model="settings.decimalPoint"
                                    class="ml-4"
                                    label="Decimal Point"
                                    type="number"
                                    value="2"
                                    min="0"
                                    step="1"
                                    max="10"></v-text-field> </v-col
                        ></v-row>

                        <!-- Decimal Point End -->
                        <!-- General Tab  end-->
                    </v-tab-item>
                </v-tabs>
            </v-col>
            <!-- calibration start -->
            <v-col md="7" sm="12" xs="12">
                <p class="text-h3 pt-2">Calibraton Settings</p>
                <hr />
                <v-tabs v-model="calibartionTab">
                    <v-tab>2-Point Calibration</v-tab>
                    <v-tab>Functional Calibration</v-tab>
                    <v-tab>Connector</v-tab>
                    <v-tab>Video Training</v-tab>

                    <!--  2-Point Calibration Start -->
                    <v-tab-item class="mx-2">
                        <!-- First point voltage , first point Unit , UNIT start  -->
                        <v-row class="pt-2">
                            <!-- First point voltage  Start -->
                            <v-col>
                                <v-text-field
                                    v-model="settings.firstPointVoltage"
                                    label="First Point Voltage"
                                    type="number"
                                    value="0"
                                    min="-10"
                                    step="0.001"
                                    max="10"></v-text-field>
                            </v-col>
                            <!-- First point voltage  End -->
                            <!-- first point Unit Start -->
                            <v-col>
                                <v-text-field
                                    v-model="settings.firstPointUnit"
                                    class="A1Q1"
                                    label="First Point Unit"
                                    type="number"
                                    value="0"
                                    step="0.001"></v-text-field>
                            </v-col>
                            <!-- first point Unit End -->
                            <!--  Unit Start-->
                            <v-col>
                                <v-select
                                    v-model="settings.twoPointCalibrationUnit"
                                    :items="config.twoPointCalibrationUnit"
                                    item-text="text"
                                    item-value="value"
                                    label="Unit">
                                </v-select>
                            </v-col>
                            <!--  Unit End-->
                            <!-- First point voltage , first point Unit , UNIT end -->
                        </v-row>

                        <!-- Second Point Voltage , Second Point Unit Start -->
                        <v-row>
                            <!-- Second Point Voltage Start -->
                            <v-col cols="4">
                                <v-text-field
                                    v-model="settings.secondPointVoltage"
                                    label="Second Point Voltage"
                                    type="number"
                                    value="0"
                                    min="-10"
                                    step="0.001"
                                    max="10"></v-text-field
                            ></v-col>
                            <!-- Second Point Voltage End -->
                            <!-- Second Point Unit Start -->
                            <v-col cols="4">
                                <v-text-field
                                    v-model="settings.secondPointUnit"
                                    class="A1Q1"
                                    label="Second Point Unit"
                                    type="number"
                                    value="0"
                                    step="0.001"></v-text-field>
                            </v-col>

                            <!-- Second Point Unit End -->
                        </v-row>
                        <!-- Second Point Voltage , Second Point Unit End -->
                        <!-- First Volt Average button and Second Volt Average button Start -->
                        <v-row class="mb-4">
                            <v-col md="12" sm="12" xs="12"><v-btn color="green darken-3" width="100%" dark> Second Volt Average</v-btn> </v-col>
                            <v-col md="12" sm="12" xs="12"><v-btn color="green darken-3" width="100%" dark> First Volt Average</v-btn></v-col>
                            <v-col md="12" sm="12" xs="12">
                                <FormButtonToggleBtn
                                    :is-small="false"
                                    width="100%"
                                    first-button-text="Preview Start"
                                    second-button-text="Preview Stop"
                                    :on-click="emitPreview" />
                            </v-col>
                        </v-row>
                        <!-- First Volt Average button and Second Volt Average button End -->
                    </v-tab-item>
                    <!--  2-Point Calibration End-->
                    <!-- Functional Calibration Start -->
                    <v-tab-item>
                        <v-row>
                            <!-- text  start -->

                            <v-col cols="12">
                                <p>
                                    Result = m*reading voltage + b <br />
                                    m= scale, b=offset
                                </p>
                            </v-col>
                            <!-- text  end-->
                        </v-row>
                        <!-- Scale Factor start -->
                        <v-row>
                            <v-col>
                                <v-text-field v-model="settings.scaleFactor" label="Scale Factor" type="number" step="0.00001"></v-text-field>
                            </v-col>
                        </v-row>
                        <!-- Scale Factor end -->
                        <!-- offset Start  -->
                        <v-row>
                            <v-col>
                                <v-text-field v-model="settings.offset" label="offset" value="0" type="number" step="0.00001"></v-text-field>
                            </v-col>
                        </v-row>
                        <!-- offset End -->
                    </v-tab-item>
                    <!-- Functional Calibration End -->

                    <!-- Connector Start -->
                    <v-tab-item>
                        <v-row>
                            <v-col>
                                <v-img class="mx-auto mt-5" max-height="500px" max-width="500px" :src="require('~/assets/connector.png')"></v-img>
                            </v-col>
                        </v-row>
                    </v-tab-item>
                    <!-- Connector End -->

                    <!-- Video Training Start -->
                    <v-tab-item>
                        <iframe
                            width="628"
                            height="400"
                            src="https://www.youtube.com/embed/uToN2dm9S2U"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </v-tab-item>
                    <!-- Video Training End -->
                </v-tabs>
            </v-col>
            <!-- calibration End -->
        </v-row>
    </v-form>
    <!-- </div> -->
</template>
<script>
import { mapActions } from 'vuex'
import { Validation } from '~/components/Form/Validation'
export default {
    name: 'AnalogInput',
    props: {
        isPreview: { type: Boolean, required: false, default: false },
        selectedSensor: { type: Object, requred: false, default: null },
    },

    data() {
        return {
            Validation,
            measureValue: 0,
            preview: true,
            save: false,
            analogTab: null,
            errorMessage: '',
            successMessage: '',
            formValidate: null,
            calibartionTab: null,
            settings: {
                sensorName: null,
                description: null,
                channel: null,
                inputType: 0,
                voltageRange: 1,
                rangeUnit: 0,
                antiAliasingFilter: 1,
                excitation: 10,
                excitationUnit: 0,
                samplingRate: 1,
                decimalPoint: 2,
                firstPointVoltage: 0,
                firstPointUnit: 0,
                twoPointCalibrationUnit: 0,
                secondPointVoltage: 0,
                secondPointUnit: 0,
                scaleFactor: 0,
                offset: 0,
            },
        }
    },

    watch: {
        settings: {
            deep: true,
            handler(after, before) {
                this.$axios.$post('sensor/exist', { sensorName: after.sensorName }).then((res) => {
                    if (res && this.formValidate) {
                        this.errorMessage = null
                        this.successMessage = 'available'
                        this.$emit('formValidate', Boolean(this.formValidate && after.sensorName))
                    } else if (this.formValidate) {
                        this.formValidate = false
                        this.errorMessage = `${after.sensorName}  already exists `
                        this.$emit('formValidate', Boolean(this.formValidate && after.sensorName))
                    } else {
                        this.errorMessage = null
                        this.successMessage = null
                        this.$emit('formValidate', Boolean(this.formValidate && after.sensorName))
                    }
                })
                // this.$emit('formValidate', Boolean(this.formValidate && after.sensorName))
                this.$emit('changeSettings', after)
            },
        },
        selectedSensor(after) {
            Object.keys(this.settings).forEach((setKeys) => {
                if (typeof this.settings[setKeys] === 'number') {
                    this.settings[setKeys] = +after[setKeys]
                } else {
                    this.settings[setKeys] = after[setKeys]
                }
            })
        },
    },
    methods: {
        ...mapActions({ isExist: 'sensor/isExist' }),
        selectedChannel(channel) {
            this.settings.channel = channel
        },
        async emitPreview() {
            await this.$emit('startPreview')
        },
    },
}
</script>
<style lang="scss">
.v-slide-group__prev {
    display: none !important;
}
</style>
