<template>
    <div>
        <!-- <v-row> -->
        <!-- <v-col :cols="12"> -->

        <v-select v-model="selectedChannel" :items="channels" item-text="name" item-value="_id" @change="changeHandler">
            <template #item="{ item }">
                <span class="text-center" :class="selectColor(item)" style="width: 100%">{{ item.name }} {{ status(item) }} </span>
            </template>
        </v-select>
        <!-- </v-col> -->
        <!-- </v-row> -->
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import { ChannelMode } from '~/Types/global.types'
export default {
    name: 'ChannelSelectbox',
    props: {
        defaultChannel: { default: null, type: Object },
        sensorId: { type: String, default: '', required: false },
        isPreview: { type: Boolean, default: false },
    },

    data() {
        return { selectedChannel: this.defaultChannel, dialogShow: false, dialogResult: null, beforeValue: null }
    },
    watch: {
        selectedChannel(after, before) {
            this.beforeValue = before
            this.$emit('selectedChannel', after)
        },
    },
    mounted() {
        setTimeout(() => {
            if (this.isPreview) {
                // this.selectedChannel = this.channels.find((i) => i.mode === ChannelMode.Preview)
                this.changeHandler(this.channels[0]._id)
            }
        }, 500)
    },

    methods: {
        ...mapActions({
            releaseChannel: 'channel/releaseChannel',
            changeSensorChannel: 'sensor/changeSensorChannel',
            previewChannel: 'channel/previewChannel',
            fillChannel: 'channel/fillChannel',
        }),

        async changeHandler(userSelectItemId) {
            const selectedItem = this.channels.find((i) => i._id === userSelectItemId)

            this.isPreview ? await this.forPreview(selectedItem) : await this.forDataTable(selectedItem)
        },
        async forPreview(selectedItem) {
            if ([ChannelMode.Listen].includes(selectedItem.mode)) {
                const userAgree = await this.$refs.dialog.open('Change Preview Channel', 'the channel is busy , are you sure ?')
                if (userAgree) {
                    this.previewChannel({ channelId: selectedItem._id })
                } else {
                    this.selectedChannel = this.beforeValue
                    this.$emit('selectedChannel', this.selectedChannel)
                }
            } else if ([ChannelMode.Idle, ChannelMode.Wait].includes(selectedItem.mode)) {
                this.previewChannel({ channelId: selectedItem._id })
            } else if ([ChannelMode.Preview].includes(selectedItem.mode)) {
                // alert('Zaten InPreview olarak kullanılmakta')
            }
        },
        async forDataTable(selectedItem) {
            await this.changeSensorChannel({ channel: selectedItem._id, sensorId: this.sensorId })
            await this.fillChannel()
        },

        selectColor(item) {
            if ([ChannelMode.Listen].includes(item.mode)) {
                return 'red darken-4'
            } else if (ChannelMode.Preview === item.mode) {
                return 'blue darken-4'
            } else {
                return 'green darken-4'
            }
        },
        status(item) {
            if ([ChannelMode.Listen].includes(item.mode)) {
                return 'Busy'
            } else if ([ChannelMode.Idle, ChannelMode.Wait].includes(item.mode)) {
                return 'Idle'
            } else if ([ChannelMode.Preview].includes(item.mode)) {
                return 'inPreview'
            }
        },
    },
}
</script>
