<template>
  <v-card class="mx-auto" height="100%">
    <CommonTheSidebarHeader />
    <v-list>
      <v-list-item-group v-model="activeMenuItemIndex">
        <template v-for="(item, i) in items">
          <v-list-item v-if="!item.child" :key="i" :to="item.link">
            <v-list-item-icon><v-icon v-text="item.icon"></v-icon></v-list-item-icon>
            <v-list-item-title v-text="item.text"></v-list-item-title>
          </v-list-item>
          <!-- second list -->

          <v-list-group v-else :key="i" :prepend-icon="item.icon">
            <!-- a -->
            <template #activator>
              <v-list-item-title> {{ item.text }}</v-list-item-title>
            </template>
            <!-- a -->

            <v-list-item v-for="(child, k) in item.child" :key="k" class="pl-10" :to="child.link">
              <v-list-item-icon>
                <v-icon v-text="child.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-title>
                {{ child.text }}
              </v-list-item-title>
            </v-list-item>
          </v-list-group>
          <!-- second list end -->
        </template>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>
<script>
export default {
  name: 'TheSidebar',
  data: () => ({
    activeMenuItemIndex: null,
    items: [
      { text: 'Anasayfa', icon: 'mdi-home', link: '/' },
      {
        text: 'Sensörler',
        icon: 'mdi-clock',
        link: 'sensors',
      },
      {
        text: 'Ayarlar',
        icon: 'mdi-cog',
        link: 'oldIndex3',
        child: [
          { text: 'ölç', icon: 'mdi-flag', link: 'oldIndex2' },
          { text: 'ölç1', icon: 'mdi-flag', link: 'oldIndex29' },
        ],
      },
    ],
  }),
}
</script>
