<template>
  <v-card>
    <v-list>
      <v-list-item class="py-10">
        <v-img
          width="100%"
          height="100%"
          src="https://marmatek.com/wp-content/uploads/2021/01/web-logo.png"
        ></v-img>
      </v-list-item>
    </v-list>
    <v-divider class="white mb-5"></v-divider>
  </v-card>
</template>
<script>
export default {
  name: 'TheSidebarHeader',
}
</script>
