<template>
    <v-app id="inspire">
        <v-navigation-drawer v-model="drawer" app>
            <CommonTheSidebarMenu />
        </v-navigation-drawer>
        <dialog-box />
        <the-toastr />
        <v-app-bar app>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <v-toolbar-item> </v-toolbar-item>
        </v-app-bar>

        <v-main>
            <router-view></router-view>
            <!--  -->
        </v-main>
    </v-app>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    name: 'DefaultLayout',
    data: () => {
        return {
            drawer: null,
        }
    },
    async fetch() {
        await this.fillConfig()
        await this.fillSensorData()
        await this.fillChannel()
    },
    methods: {
        ...mapActions({ fillConfig: 'view/fillConfig', fillSensorData: 'sensor/fillSensorData', fillChannel: 'channel/fillChannel' }),
    },
}
</script>
