<template>
  <div class="mainwrapper">
    <v-btn @click="initSciChart()">Show Sci Chart</v-btn>

    <div
      id="scichart-root"
      :key="componentKey1"
      style="width: 600px; height: 400px; margin: auto"
    />
  </div>
</template>

<script>
export default {
  name: 'ChartPage',
  mounted() {
    console.log('onMounted')
  },
  methods: {
    async initSciChart() {
      SciChart.SciChartSurface.configure({
        dataUrl: '/Sci/scichart2d.data',
        wasmUrl: '/Sci/scichart2d.wasm',
      })

      const { sciChartSurface, wasmContext } =
        await SciChart.SciChartSurface.create('scichart-root')

      const {
        NumericAxis,
        XyDataSeries,
        ZoomExtentsModifier,
        ZoomPanModifier,
        MouseWheelZoomModifier,
        RolloverModifier,
        FastLineRenderableSeries,
      } = SciChart

      // Create an X,Y Axis and add to the chart
      const xAxis = new NumericAxis(wasmContext)
      const yAxis = new NumericAxis(wasmContext)
      sciChartSurface.xAxes.add(xAxis)
      sciChartSurface.yAxes.add(yAxis)

      // Declare a DataSeries
      const xyDataSeries = new XyDataSeries(wasmContext)

      function getRandonInt(max) {
        return Math.floor(Math.random() * max)
      }
      const xValues = []
      const yValues = []

      for (let index = 0; index < 100; index++) {
        xValues.push(index)
        yValues.push(getRandonInt(50))
      }

      xyDataSeries.appendRange(xValues, yValues)

      // Add Chart Modifiers
      sciChartSurface.chartModifiers.add(
        new ZoomExtentsModifier(),
        new ZoomPanModifier(),
        new MouseWheelZoomModifier(),
        new RolloverModifier({ rolloverLineStroke: 'rgba(255,0,0,1)' })
      )

      // Add a line series to the SciChartSurface
      const lineSeries = new FastLineRenderableSeries(wasmContext)
      lineSeries.strokeThickness = 3
      lineSeries.stroke = 'rgba(255,0,0,1)'
      lineSeries.dataSeries = xyDataSeries

      sciChartSurface.renderableSeries.add(lineSeries)
    },
  },
}
</script>
