<template>
    <div>
        <!-- <DataReaderInputCalibratonInput /> -->
        <DataReaderChannelReader />
        <!-- <DataReaderInputAnalogInput /> -->
    </div>
</template>
<script>
// import { mapActions } from 'vuex'
export default {
    name: 'IndexPage',
}
</script>
