<template>
    <v-container>
        <v-row>
            <v-col>
                <DataReaderSingleReader @signalRecive="signalRecive" />
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <ChartLineChart ref="chart" chart-id="Line" :xy-data="signal" chart-style="width:50%" chart-class="mt-10  mx-auto mb-10" />
            </v-col>
            <!-- <v-col>
        <ChartColumnChart
          :xy-data="signal"
          chart-id="Column"
          chart-style=""
          chart-class="mt-10 w-100 mb-10"
        />
      </v-col> -->
        </v-row>
    </v-container>
</template>
<script>
// import DialogBox from "~/components/Form/DialogBox.vue"
export default {
    name: 'SensorsPage',
    data() {
        return { signal: null }
    },
    methods: {
        signalRecive(value) {
            this.$refs.chart.appendData(value)
            // this.signal = value
        },
    },
}
</script>
