<template>
    <div></div>
</template>
<script>
// import { mapActions } from 'vuex'
export default {
    name: 'TextPage',
    data() {
        return {
            result: null,
            show: false,
        }
    },

    async mounted() {
        // setTimeout(async () => {
        //   const a = await this.$refs.dialog.open()
        //   console.log('a :>> ', a)
        // }, 1000)

        this.$toastr.show({ title: 'merhaba', type: 'info', text: 'yine ben' })
        await this.$DialogBox.show('merhaba', 'I am Developer')

        // this.$confirm('Do you really want to exit?').then((res) => {
        //   console.log('res :>> ', res)
        // })
    },
}
</script>
