<template>
    <div>
        <v-data-table :headers="headers" :items="sensors" :items-per-page="5" class="elevation-1">
            <template #[`item.action`]="{ item }">
                <v-btn-toggle>
                    <FormButtonTooltipButton icon="mdi-content-duplicate" :is-fab="true" tooltip-text="Copy Sensor" @click="copySensor(item)" />
                    <FormButtonTooltipButton icon="mdi-delete" :is-fab="true" tooltip-text="Delete Sensor" @click="deleteSensor(item)" />
                </v-btn-toggle>
            </template>
            <template #[`item.inputType`]="{ item }">
                {{ analogInputConverter(item.inputType) }}
            </template>

            <template #[`item.voltageRange`]="{ item }">
                {{ item.voltageRange }}
            </template>
            <template #[`item.rangeUnit`]="{ item }">
                {{ rangeUnitConverter(item.rangeUnit) }}
            </template>

            <template #[`item.antiAliasingFilter`]="{ item }">
                {{ antiAlisgnConverter(item.antiAliasingFilter) }}
            </template>
            <template #[`item.mensurmentValue`]>
                <v-text-field dense style="width: %100" placeholder="value" disabled></v-text-field>
            </template>

            <template #[`item.status`]="{ item }">
                <FormButtonChannelBtn :sensor-id="item._id" />
            </template>

            <template #[`item.channel`]="{ item }">
                <FormChannelSelectbox :default-channel="item.channel" :sensor-id="item._id" />
            </template>
            <template #[`item.twoPointCalibrationUnit`]="{ item }">
                {{ twoPointCalibrationUnitConverter(item.twoPointCalibrationUnit) }}
            </template>
        </v-data-table>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import { sensorType } from '~/Types/global.types'

export default {
    data() {
        return {
            headers: [
                {
                    text: 'Action',
                    align: 'start',
                    sortable: false,
                    value: 'action',
                },
                {
                    text: 'Name',
                    align: 'start',
                    sortable: false,
                    value: sensorType.sensorName,
                },
                {
                    text: 'CH',
                    align: 'start',
                    width: '10%',
                    sortable: true,
                    value: sensorType.channel,
                },
                {
                    text: 'status',
                    align: 'start',
                    value: 'status',
                },
                {
                    text: 'description',
                    align: 'start',
                    sortable: false,
                    value: sensorType.description,
                },
                {
                    text: 'measurement value',
                    align: 'start',

                    sortable: false,
                    value: 'mensurmentValue',
                },
                {
                    text: 'Analog Input',
                    align: 'start',
                    sortable: false,
                    value: 'inputType',
                },
                {
                    text: 'Sampling Rate(Hz)',
                    align: 'start',
                    sortable: true,
                    value: sensorType.samplingRate,
                },
                {
                    text: 'Voltage Range',
                    align: 'start',
                    sortable: false,
                    value: sensorType.voltageRange,
                },
                {
                    text: 'Range Unit',
                    align: 'start',
                    sortable: true,
                    value: 'rangeUnit',
                },
                {
                    text: 'Decimal Point',
                    align: 'start',
                    sortable: false,
                    value: sensorType.decimalPoint,
                },
                {
                    text: 'Anti-Aliasing Filter',
                    align: 'start',
                    sortable: true,
                    value: 'antiAliasingFilter',
                },
                {
                    text: 'Excitation',
                    align: 'start',
                    sortable: true,
                    value: 'excitation',
                },
                {
                    text: 'ExcitationUnit',
                    align: 'start',
                    sortable: true,
                    value: 'excitationUnit',
                },
                {
                    text: 'First Point Voltage',
                    align: 'start',
                    sortable: true,
                    value: 'firstPointVoltage',
                },
                {
                    text: 'First Point Voltage',
                    align: 'start',
                    sortable: true,
                    value: 'firstPointVoltage',
                },
                {
                    text: 'First Point Unit',
                    align: 'start',
                    sortable: true,
                    value: 'firstPointUnit',
                },
                {
                    text: '2-Point Calibration Unit',
                    align: 'start',
                    sortable: true,
                    value: sensorType.twoPointCalibrationUnit,
                },
                {
                    text: 'Second Point Voltage',
                    align: 'start',
                    sortable: true,
                    value: sensorType.secondPointVoltage,
                },
                {
                    text: 'Second Point Unit',
                    align: 'start',
                    sortable: true,
                    value: sensorType.secondPointUnit,
                },
                {
                    text: 'Scale Factor',
                    align: 'start',
                    sortable: true,
                    value: sensorType.scaleFactor,
                },
                {
                    text: 'Offset',
                    align: 'start',
                    sortable: true,
                    value: sensorType.offset,
                },
            ],
        }
    },
    async beforeMount() {
        await this.loadSensor()
    },

    methods: {
        ...mapActions({
            loadSensor: 'sensor/fillSensorData',
            freezeChannel: 'channel/freezeChannel',
            sendSettingsToQueue: 'channel/sendSettingsToQueue',
            deleteSensor: 'sensor/delete',
        }),
        copySensor(sensor) {
            this.$emit('selectedSensor', sensor._id)
        },

        analogInputConverter(value) {
            const preFiltredValue = parseInt(value)
            // if (!preFiltredValue || preFiltredValue !== 0) {
            //     return 'null'
            // }

            return this.config.inputTypes.find((i) => i.value === preFiltredValue).text
        },
        rangeUnitConverter(value) {
            const preFiltredValue = parseInt(value)

            return this.config.rangeUnits.find((i) => i.value === preFiltredValue).text
        },
        antiAlisgnConverter(value) {
            const preFiltredValue = parseInt(value)
            if (!preFiltredValue) {
                return 'null'
            }
            return this.config.antiAliasingFilters.find((i) => i.value === preFiltredValue).text
        },
        twoPointCalibrationUnitConverter(value) {
            const preFiltredValue = parseInt(value)
            if (!preFiltredValue) {
                return 'null'
            }
            return this.config.twoPointCalibrationUnit.find((i) => i.value === preFiltredValue).text
        },
    },
}
</script>
