<template>
  <div>
    <div :id="chartId" :style="chartStyle" :class="chartClass" />
  </div>
</template>

<script>
// Core
import { XyDataSeries } from 'scichart/Charting/Model/XyDataSeries'
import { FastColumnRenderableSeries } from 'scichart/Charting/Visuals/RenderableSeries/FastColumnRenderableSeries'
// import { NumericAxis } from 'scichart/Charting/Visuals/Axis/NumericAxis'
import { NumberRange } from 'scichart/Core/NumberRange'
// Modifier
import { ZoomPanModifier } from 'scichart/Charting/ChartModifiers/ZoomPanModifier'
import { ZoomExtentsModifier } from 'scichart/Charting/ChartModifiers/ZoomExtentsModifier'
import { MouseWheelZoomModifier } from 'scichart/Charting/ChartModifiers/MouseWheelZoomModifier'
// import { RolloverModifier } from 'scichart/Charting/ChartModifiers/RolloverModifier'
// Animation
import { WaveAnimation } from 'scichart/Charting/Visuals/RenderableSeries/Animations/WaveAnimation'

export default {
  name: 'LineChart',

  props: {
    chartId: {
      type: String,
      default: () => 'columnchart',
    },
    tooltipColor: {
      type: String,
      default: () => '#368BC1',
    },
    xyData: {
      type: Array,
      default: () => [-1, -1],
    },
    chartStyle: {
      type: String,
      default: 'width: 600px; height: 400px; margin: auto',
    },
    chartClass: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      chart: null,
      xyDataSeries: null,
    }
  },
  watch: {
    xyData(newSeries, oldSeries) {
      this.xyDataSeries.appendRange(newSeries.flat())
      this.chart.zoomExtents()
      console.log(`new Data = ${newSeries} , Old Series=${oldSeries}`)
    },
  },
  mounted() {
    this.initSciChart()
  },

  methods: {
    async initSciChart() {
      SciChart.SciChartSurface.configure({
        dataUrl: '/Sci/scichart2d.data',
        wasmUrl: '/Sci/scichart2d.wasm',
      })

      const { sciChartSurface, wasmContext } =
        await SciChart.SciChartSurface.create(this.chartId)
      this.chart = sciChartSurface

      const { NumericAxis, RolloverModifier } = SciChart

      // Create an X,Y Axis and add to the chart
      const xAxis = new NumericAxis(wasmContext)
      const yAxis = new NumericAxis(wasmContext, {
        growBy: new NumberRange(0, 0.1),
      })
      sciChartSurface.xAxes.add(xAxis)
      sciChartSurface.yAxes.add(yAxis)

      // Declare a DataSeries
      this.xyDataSeries = new XyDataSeries(wasmContext)

      // Add Chart Modifiers
      sciChartSurface.chartModifiers.add(
        new ZoomExtentsModifier(),
        new ZoomPanModifier(),
        new RolloverModifier({
          showTooltip: true,
        }),
        new MouseWheelZoomModifier()
      )

      // Add a line series to the SciChartSurface
      const lineSeries = new FastColumnRenderableSeries(wasmContext)
      lineSeries.dataSeries = this.xyDataSeries
      lineSeries.fill = 'rgba(150, 182, 221, 0.77)'
      lineSeries.stroke = 'rgba(206, 216, 246, 1)'
      lineSeries.strokeThickness = 2
      lineSeries.dataPointWidth = 0.7
      lineSeries.animation = new WaveAnimation({ duration: 1000 })
      lineSeries.rolloverModifierProps.tooltipColor = this.tooltipColor

      sciChartSurface.renderableSeries.add(lineSeries)
    },
  },
}
</script>
