<template>
    <div>
        <div :id="chartId" :style="chartStyle" :class="chartClass" />
    </div>
</template>

<script>
import { XyDataSeries } from 'scichart/Charting/Model/XyDataSeries'

export default {
    name: 'LineChart',

    props: {
        chartId: {
            type: String,
            default: () => 'linechart',
        },
        xyData: {
            type: Object,
            default: () => {},
        },
        chartStyle: {
            type: String,
            default: 'width: 600px; height: 400px; margin: auto',
        },
        chartClass: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            chart: null,
            xyDataSeries: null,
            chartDataCount: 0,
        }
    },

    mounted() {
        this.initSciChart()
    },

    methods: {
        appendData(newSeries) {
            newSeries.forEach((i) => {
                if (this.chartDataCount === 16000) {
                    // this.xyDataSeries.clear()
                    for (let index = 0; index < 1000; index++) {
                        this.xyDataSeries.removeAt(index)
                    }
                    this.chartDataCount -= 1000
                }
                this.chartDataCount++
                this.xyDataSeries.append(Number(i.xAxis), Number(i.yAxis))
            })
            this.chart.zoomExtents()
        },
        async initSciChart() {
            SciChart.SciChartSurface.configure({
                dataUrl: '/Sci/scichart2d.data',
                wasmUrl: '/Sci/scichart2d.wasm',
            })

            const { sciChartSurface, wasmContext } = await SciChart.SciChartSurface.createSingle(this.chartId)
            this.chart = sciChartSurface
            const {
                NumericAxis,
                CursorModifier,
                // NumberRange,
                // XyDataSeries,
                ZoomExtentsModifier,
                ZoomPanModifier,
                MouseWheelZoomModifier,
                RolloverModifier,
                FastLineRenderableSeries,
            } = SciChart

            // Create an X,Y Axis and add to the chart
            const xAxis = new NumericAxis(wasmContext)
            const yAxis = new NumericAxis(wasmContext)

            sciChartSurface.xAxes.add(xAxis)
            sciChartSurface.yAxes.add(yAxis)

            xAxis.labelProvider.formatLabel = (dataValue) => {
                const convertedItem = dataValue.toString()
                const unixDateStamp = +convertedItem
                const nanosecond = +convertedItem.substring(13)
                const milisecond = +convertedItem.substring(13, 16) || 0

                return (
                    new Date(unixDateStamp).toLocaleTimeString('tr-TR', {
                        // month: 'numeric',
                        // year: 'numeric',
                        // day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                    }) + `:${milisecond || '000'}:${nanosecond || '0000'}`
                )
            }
            // Declare a DataSeries
            this.xyDataSeries = new XyDataSeries(wasmContext)

            const cursorModifier = new CursorModifier({
                crosshairStroke: '#ff6600',
                crosshairStrokeThickness: 1,
                tooltipContainerBackground: '#000',
                tooltipTextStroke: '#ff6600',
                showTooltip: true,
                axisLabelFill: '#b36200',
                axisLabelStroke: '#fff',
            })

            // Add Chart Modifiers
            sciChartSurface.chartModifiers.add(
                new ZoomExtentsModifier(),
                new ZoomPanModifier(),
                cursorModifier,
                new MouseWheelZoomModifier(),
                new RolloverModifier({ rolloverLineStroke: 'rgba(255,0,0,1)' })
            )

            // Add a line series to the SciChartSurface
            const lineSeries = new FastLineRenderableSeries(wasmContext)
            lineSeries.strokeThickness = 3
            lineSeries.stroke = 'rgba(255,0,0,1)'
            lineSeries.dataSeries = this.xyDataSeries

            sciChartSurface.renderableSeries.add(lineSeries)
        },
    },
}
</script>
