<template>
    <v-btn :color="isActive ? 'red darken-4' : 'green darken-4'" @click="eventHandler">{{ isActive ? 'DEACTIVE' : 'ACTIVE' }} </v-btn>
</template>
<script>
import { mapActions } from 'vuex'
import { ChannelMode } from '~/Types/global.types'
export default {
    props: {
        sensorId: {
            type: String,
            required: true,
        },
    },

    data() {
        return {
            theSensor: null,
        }
    },

    computed: {
        isActive() {
            const isSensorActive = this.channels.find((i) => i.activeSensor?._id === this.sensorId && i.mode === ChannelMode.Listen)

            if (isSensorActive !== {} && isSensorActive) {
                return true
            } else {
                return false
            }
        },
    },
    mounted() {
        this.getCurrentSensor()
    },

    methods: {
        ...mapActions({
            freezeChannel: 'channel/freezeChannel',
            releaseChannel: 'channel/releaseChannel',
            sendSensor: 'channel/sendSensor',
            fillSensor: 'sensor/fillSensorData',
            fillChannel: 'channel/fillChannel',
            listenChannel: 'channel/listenChannel',
            waitChannel: 'channel/waitChannel',
        }),
        getCurrentSensor() {
            this.theSensor = this.sensors.find((i) => i._id === this.sensorId)
        },
        eventHandler() {
            this.isActive ? this.stop() : this.start()
        },
        stop() {
            this.getCurrentSensor()
            this.waitChannel({ channelId: this.theSensor.channel._id })
            this.fillSensor()
        },
        async start() {
            this.getCurrentSensor()

            const freezeObj = {
                channelId: this.theSensor.channel._id,
                sensorId: this.theSensor._id,
            }
            await this.freezeChannel(freezeObj)
            await this.listenChannel({ channelId: this.theSensor.channel._id })
            this.fillSensor()
            // this.sendSensor()
        },
    },
}
</script>
