<template>
    <div>
        <v-btn v-if="visible" color="green darken-3" dark :small="isSmall" :width="width" @click="click"> {{ firstButtonText }}</v-btn>
        <v-btn v-if="visible == false" color="red darken-3" :small="isSmall" dark :width="width" @click="click">{{ secondButtonText }}</v-btn>
    </div>
</template>
<script>
export default {
    props: {
        onClick: { type: Function, default: () => {} },
        firstButtonText: { type: String, required: true },
        secondButtonText: { type: String, required: true },
        isSmall: { type: Boolean, required: false },
        width: { type: String, default: '' },
    },

    data() {
        return {
            visible: true,
        }
    },
    methods: {
        click() {
            this.toggle()
            this.onClick()
        },
        toggle() {
            this.visible = !this.visible
        },
    },
}
</script>
