<template>
    <v-tooltip bottom>
        <span>{{ tooltipText }}</span>

        <template #activator="{ attrs, on }">
            <v-btn x-small :fab="isFab" v-bind="attrs" v-on="on" @click="click">
                <v-icon>{{ icon }}</v-icon></v-btn
            >
        </template>
    </v-tooltip>
</template>
<script>
export default {
    props: {
        // click: { type: Function, required: true },
        icon: { type: String, required: false, default: '' },
        isFab: { type: Boolean, default: false },
        tooltipText: { type: String, required: true },
    },
    methods: {
        click() {
            this.$emit('click')
        },
    },
}
</script>
